﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn.btn-menu {
    background-color: transparent;
    color: #9d9d9d;
    border: none;
}
#userphoto {
    height: 256px;
    width: 256px;
    border: 2px solid #ddd;
    border-radius: 45%;
}
#userptable {
    width: 50%;
}
#mytext {
    margin-right: 10px;
}
#pagetitle {
    padding-bottom: 10px;
    margin-bottom: 25px;
    border-bottom: 1px solid #ddd;
}

div.table input[type=input] {
    width: 90%;
}

div.table .username {
    max-width: 100%;
    overflow: hidden;
}
.divtable > div:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.divtable {
    border: 1px solid #ddd;
    margin-bottom: 10px;
}
#tabletitle {
    margin-left: -15px;
}