﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
        </li>
        <li>
            <div class="dropdown" style="padding:9px; ">
                <button class="btn btn-menu dropdown-toggle" type="button" data-toggle="dropdown">
                    Hello  @User.Identity.GetUserName()!
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li> @Html.ActionLink("Profile", "UserProfile", "Home", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                </ul>
            </div>
        </li>
        <li></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
