﻿@{
    ViewBag.Title = "Create new User";
}
<h2 id="pagetitle">@ViewBag.Title</h2>

    <table id="mytext">
        <tr>
            <td> Mail:</td>
            <td><input type="text" name="Mail"> </td>
        </tr>
        @*<tr><td>.</td></tr>*@
        <tr>
            <td> Password: </td>
            <td><input type="password" id="myPsw" value="" name="password"></td>
        </tr>
    </table>

    <input style="margin-top: 10px;" type="button" value="Create" name="create">