﻿@using webSite.Models;

@{
    ViewBag.Title = "Members";
}
<h2 id="pagetitle">@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<form method="get">
    @*<div class="divtable">
            <div class="row"><strong><span class="col-md-4">Email</span><span class="col-md-3">PhoneNumber</span><span class="col-md-3">NickName</span><span class="col-md-2">Email Confirmed</span></strong></div>
            @foreach (var user in ViewBag.users)
                {
                <div class="row">
                    <div class="col-md-4 username">@user.UserName</div>
                    <span class="col-md-3 hidden-xs"><input type="text" name="PhoneNumber" value="@user.PhoneNumber" placeholder="phone number" /></span>
                    <span class="col-md-3 hidden-xs"><input type="text" name="Nickname" value="" placeholder="nickname" /></span>
                    <span class="col-md-2 hidden-xs"><input class="emailConfirmed" type="checkbox" name="EmailConfirmed" checked="@user.EmailConfirmed" value="@user.Id" /></span>
                </div>
            }
        </div>*@
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Email</th>
                <th class="hidden-xs">Phone Number</th>
                <th class="hidden-xs">NickName</th>
                <th><span class="hidden-xs">Email Confirmed</span></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in ViewBag.users) {
            <tr>
                <td>@user.UserName</td>
                <td class="hidden-xs"><input type="text" name="PhoneNumber" value="@user.PhoneNumber" placeholder="phone number" /></td>
                <td class="hidden-xs"><input type="text" name="Nickname" value="" placeholder="nickname" /></td>
                <td><input class="emailConfirmed" type="checkbox" name="EmailConfirmed" checked="@user.EmailConfirmed" value="@user.Id" /></td>
            </tr>
            }
        </tbody>
    </table>
    <input class="btn btn-default" type="submit" value="Save">
    <input class="btn btn-default" type="button" onClick="parent.location = 'CreateNewUser'" value="+">
</form>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            // To select all
            $('#selectall').click(function () {
                $isChecked = $(this).prop('checked');
                $('input.emailConfirmed').prop('checked', $isChecked);
            });
            // To select all if all selected or not select all if any is unselected
            $("input.emailConfirmed").click(function () {
                $isChecked = $("input.emailConfirmed").length == $("input.emailConfirmed:checked").length;
                $("#selectall").prop("checked", $isChecked);
            });
            // To show/hide fields on mobile
            $('.username').click(function () {
                $(this).closest('.user').find('span').toggleClass('hidden-xs');
            });
        });
    </script>
}