﻿@using webSite.Models;

@{
    ViewBag.Title = "User Profile";
}
<h2 id="pagetitle">@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<form>
    <div>
        <div>
            @foreach (var user in ViewBag.users)
            {
                <table class="table table-striped"  id="userptable">
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>Vygantas Skirius</td>
                            <td rowspan="6"><img src="http://publications.uew.edu.gh/2015/sites/default/files/default_profile_pic.jpg" id="userphoto" /></td>
                        </tr>
                        <tr>
                            <td>User Name</td>
                            <td>@*<input type="text" name="NickName" value="@user.NickName" />*@</td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td>@user.PhoneNumber</td>
                        </tr>
                        <tr>
                            <td>EmailConfirmed</td>
                            <td>@user.EmailConfirmed</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>@user.Email</td>
                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                    </tbody>
                </table>
            }
            <input class="btn-warning" type="button" value="Edit">
            <input class="btn-danger" type="submit" value="Save">
        </div>
    </div>
</form>